<div class="note-panel-form">
  <mat-form-field>
    <input [(ngModel)]="reminder.reminderName" name="reminderName" matInput type="text" placeholder="Reminder Name" ngModel #title="ngModel">
  </mat-form-field>
  <mat-form-field>
    <textarea [(ngModel)]="reminder.reminderType" name="reminderType" matInput placeholder="Reminder Type"
      ngModel #text="ngModel"></textarea>
  </mat-form-field>
</div>
<div class="note-form-button">
  <button mat-button class='delete-note' (click)="deleteReminder()">Delete</button>
  <button mat-button class='edit-note' (click)="editReminder()">Save</button>
</div>
<div>
  <label for="svc-error-message" class="error-message">{{errorMessage}}</label>
</div>