<div class="note-panel-header">
  <form #f="ngForm" id="note-taker-form">
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Reminder
              </mat-panel-title>
              <mat-panel-description>
                  <mat-icon>add_alert</mat-icon>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="note-panel-form">
              <mat-form-field>
                  <input [(ngModel)]="reminder.reminderName" name="reminderName" matInput type="text" placeholder="Reminder Name" ngModel
                      #title="ngModel">
              </mat-form-field>
              <mat-form-field>
                  <textarea [(ngModel)]="reminder.reminderType" name="reminderType" matInput placeholder="Reminder Type"
                      ngModel #text="ngModel"></textarea>
              </mat-form-field>
              <mat-action-row>
                  <mat-card-actions>
                      <button mat-button color="primary" (click)="addReminder()">Add Reminder</button>
                  </mat-card-actions>
              </mat-action-row>
          </div>
      </mat-expansion-panel>
  </form>
</div>